.App {
  text-align: center;
}

.hidden {
  display: none;
}

.MapContainer {
  width: 100vw;
  height: 100%;
}

header {
  background-color: #67e;
  color: #eee;
  font-family: sans-serif;
  padding: 20px;
  z-index: 3;
}

h1 {
  margin: 0;
}

.sidebar {
  background-color: #ddd;
  position: absolute;
  width: 200px;
  max-width: 100%;
  z-index: 2;
  left: 0;
  top: 73px;
  margin: 0;
  padding: 10px;
}

.sidebar ul {
  padding: 0;
}

.info {
  background-color: #ccc;
  list-style-type: none;
  padding: 0;
  margin: 5px 0 10px 0;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.info h3 {
  padding: 0;
  margin: 0;
}

.info p {
  margin: 6px 0;
}

.info button {
  margin: 0;
  padding: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media screen and (max-width: 514px) {
  .sidebar {
    top: 106px;
  }
}

@media screen and (max-width: 308px) {
  .sidebar {
    top: 139px;
  }
}
